.banner {
  transition: all 1s;
}


.navbar-default {
  border: none;
  min-height: 75px;
  padding-top: 10px;
  transition: all .3s;
  margin: 0;
  background-color: #fff !important;
  box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.2) !important;

  .navbar-nav {

    .active a {
      color: $brown;
      background-color: transparent;
    }

    li {
      margin: 0 5px;

      a {
        color: #333;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -70px !important;  /* 50% of your logo width */
  display: block;
  padding: 5px;
  height: auto;
	width: auto;

  img {
    box-shadow: none !important;
  }
}

.nav-right {
  position: absolute;
  right: 30%;
}

.nav-left {
  position: absolute;
  left: 30%;
}

// menu collapse fix
@media only screen and (max-width : 1800px) {
  .nav-right {
    position: absolute;
    right: 28%;
  }

  .nav-left {
    position: absolute;
    left: 28%;
  }
}

@media only screen and (max-width : 1640px) {
  .nav-right {
    position: absolute;
    right: 25%;
  }

  .nav-left {
    position: absolute;
    left: 25%;
  }
}

@media only screen and (max-width : 1440px) {
  .nav-right {
    position: absolute;
    right: 22%;
  }

  .nav-left {
    position: absolute;
    left: 22%;
  }
}

// menu collapse fix
@media only screen and (max-width : 1300px) {
  .nav-right {
    position: absolute;
    right: 18%;
  }

  .nav-left {
    position: absolute;
    left: 18%;
  }
}

@media only screen and (max-width : 1170px) {
  .nav-right {
    position: absolute;
    right: 14%;
  }

  .nav-left {
    position: absolute;
    left: 14%;
  }
}

@media only screen and (max-width : 1040px) {
  .nav-right {
    position: absolute;
    right: 10%;
  }

  .nav-left {
    position: absolute;
    left: 10%;
  }
}

@media only screen and (max-width : 940px) {
  .nav-right {
    position: absolute;
    right: 6%;
  }

  .nav-left {
    position: absolute;
    left: 6%;
  }
}

@media only screen and (max-width : 840px) {
  .nav-right {
    position: absolute;
    right: 2%;
  }

  .nav-left {
    position: absolute;
    left: 2%;
  }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .navbar-brand {
    left: 2%;
    margin: 0 !important;
  }

  // nav mobile
  .navbar-default {
    background-color: #fff;

    .navbar-toggle {
      border: none;

      &:hover,
      &:focus {
        background-color: transparent;
      }

      span.icon-bar {
        display: block;
        width: 27px;
        height: 3px;
        background-color: #333;
        border-radius: 2px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
        margin-top: 4px;
        cursor: pointer
      }
    }

    .navbar-nav {

      li {

        a {
          color: #333;
        }
      }
    }

    .navbar-collapse {
      z-index: 9999;
      margin-top: 10px !important;
      background-color: transparentize(#fff, 0.03);
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0;
      padding: 0;
      max-height: none;

      a {
        margin: 25px 0;
        font-size: 17px;
      }
    }
  }

  .collapsing {
    transition: height .3s ease;
  }

}
