// Font import
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700,300);

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #c65c00;
$brown:                 #c65c00;


$raleway:               'Raleway', sans-serif;
