@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "components/cards.scss";
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";


*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: $raleway;
  line-height: 170%;
  background-color: #f7f7f9;
  color: #2b2b2b;
}

p {
  font-size: 16px;
}

.btn-rolink {
  border-radius: 0;
  background-color: $brown;
  color: #fff;
  border: none;
  transition: all .3s;

  &:hover,
  &:focus,
  &:active {
    background-color: #9e4900;
    color: #fff;
  }
}

.main {
  margin-top: 130px;
}

a:hover {
  text-decoration: none;
}

.home {

  .main {
    margin-top: 50px;
  }

	.narrow {
		padding: 0 125px;

    p {
      font-size: 18px;
      margin-top: 20px;
      letter-spacing: 0.6px;
      line-height: 180%;
    }
	}

  .circle-image-row {
    padding: 0 60px;

    p {
      font-size: 17px;
      color: #444;

      strong {
        font-size: 22px;
        color: #111;
        font-weight: 500;
      }
    }

		img.vc_single_image-img.attachment-full {
      @extend .card-1;
      border-radius: 50%;
    }
  }


  .wpb_gmaps_widget .wpb_wrapper {
    padding: 0;
  }

  .google-map {
    margin: 100px 0 40px 0;
  }

  .kontakt-row {
    p {
      font-size: 17px;
      line-height: 185%;
    }
  }
}

.seperator {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    width: 60%;
    margin: 0 auto;
}

.seperator > span {
    position: relative;
    display: inline-block;
    border: 1px solid #747474;
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

.seperator > span:before,
.seperator > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #747474;
}

.seperator > span:before {
    right: 100%;
    margin-right: 20px;
}

.seperator > span:after {
    left: 100%;
    margin-left: 20px;
}


.frontpage_hero {
  margin-top: 75px;
  padding: 250px 0;
	color: #fff;
	text-align: center;
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url(../images/hero.jpg);
	background-size: cover;

  .frontpage_hero-text {
    max-width: 70%;

    hr {
      border-top: 2px solid #fff;
    }

    h1 {
      text-transform: uppercase;
      font-weight: lighter;
      letter-spacing: 4px;
      font-size: 50px;
      position: relative;
      margin: 0;
      padding: 25px 0;

      &:after {
        content:"";
        border-bottom: 2px solid #fff;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
      }

      &:before {
        content:"";
        border-bottom: 2px solid #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }

    h2 {
      font-size: 18px;
      font-weight: lighter;
      margin-top: 20px;
    }

    p {
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
  }
}






/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px) {

  .frontpage_hero {
    padding: 200px 0;
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .home {
    .main {
      margin-top: 25px;
    }
  }

  .main {
    margin-top: 125px;
  }

  .seperator {
    width: 100%;
  }

	.frontpage_hero {
	  padding: 40px 0;
		color: #fff;
		text-align: center;
		background-image:
			linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
			url(../images/hero.jpg);
		background-size: cover;

	  .frontpage_hero-text {
	    max-width: 90%;

	    h1 {
	      text-transform: uppercase;
	      font-weight: normal;
	      letter-spacing: 4px;
	      font-size: 25px;
	      position: relative;
	      margin: 0;
	      padding: 15px 0;

	      &:after {
	        content:"";
	        border-bottom: 2px solid #fff;
	        position: absolute;
	        bottom: 0;
	        width: 100%;
	        left: 0;
	      }

	      &:before {
	        content:"";
	        border-bottom: 2px solid #fff;
	        position: absolute;
	        top: 0;
	        left: 0;
	        width: 100%;
	      }
	    }

	    h2 {
	      font-size: 18px;
	      font-weight: lighter;
	      margin-top: 20px;
	    }

	    p {
	      text-transform: uppercase;
	      letter-spacing: 1.5px;
	    }
	  }
	}

  .home {

  	.narrow {
  		padding: 0;

      p {
        font-size: 18px;
        margin-top: 20px;
        letter-spacing: 0.6px;
        line-height: 180%;
      }
  	}

    .circle-image-row {
      padding: 0 60px;

      p {
        font-size: 17px;
        color: #444;

        strong {
          font-size: 22px;
          color: #111;
          font-weight: 500;
        }
      }
    }


    .wpb_gmaps_widget .wpb_wrapper {
      padding: 0;
    }

    .google-map {
      margin: 100px 0 40px 0;
    }

    .kontakt-row {
      p {
        font-size: 17px;
        line-height: 185%;
      }
    }

    .circle-image-col {
      margin: 50px 0 !important;
    }
  }

  .footer-mobile-spacing {
    margin: 60px 0;

    input.wpcf7-form-control.wpcf7-submit {
      float: left !important;
    }
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
