footer {
  margin-top: 50px;
  margin-bottom: 50px;

  h3 {
    font-size: 22px;
    margin-bottom: 25px;
    padding-bottom: 17px;
    position: relative;

      &:after {
        content:"";
        border-bottom: 1px solid #7c7c7c;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
      }
  }

  .fa {
    margin-right: 10px;
  }

  p {
    font-size: 16px;
  }

  .social {

    .fa {
      font-size: 35px;
      vertical-align: middle;
    }
  }


  .kontaktform-footer {

    input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
      border: none;
      margin-bottom: 10px;
      height: 50px;
      background-color: #e8e6e6;
      padding: 8px 12px;
      width: 100%;
      color: #333;
      font-weight: 500;

      &:focus {
        outline: none;
      }
    }

    textarea.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required {
      border: none;
      margin-bottom: 5px;
      height: 100px;
      background-color: #e8e6e6;
      padding: 8px 12px;
      width: 100%;
      resize: none;
      color: #333;
      font-weight: 500;

      &:focus {
        outline: none;
      }
    }

    input.wpcf7-form-control.wpcf7-submit {
      border: none;
      float: right;
      font-weight: 500;
      padding: 7px 20px;
      background-color: #e8e6e6;
    }

    ::-webkit-input-placeholder { /* Safari, Chrome and Opera */
      color: #333;
      font-weight: 500;
    }
  }

  div.wpcf7-validation-errors {
    border: none;
    padding: 0;
    float: left;
    font-weight: 500;
    font-size: 16px;
  }
}
