.blog {

  .blog-wrap {
    margin-top: 40px;
  }

  h1 {
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    margin: 0px;
    padding-bottom: 5px;
  }

  p {
    font-weight: 500;
    font-size: 15px;
  }

  .btn-rolink {
    margin-top: 10px;
  }

  img {
    @extend .card-1;
  }
}

.single {
  .blog-wrap {
    margin-top: 40px;
  }

  h1 {
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    margin: 0px;
    padding-bottom: 5px;
  }

  p {
    font-weight: 500;
    font-size: 15px;
    margin-top: 15px;
  }

  .btn-rolink {
    margin-top: 10px;
  }

  img {
    @extend .card-1;
  }
}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .blog {

    img {
      margin-bottom: 25px;
    }
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
